@import "./variables";
@import "./typography";

button {
	text-decoration: none;
	border: none;
}

.btn {
	background-color: $color-secondary;
	color: $color-white;
	border-radius: 4px;
	border: 1px solid transparent;
	padding: 5px 9px;
	margin-right: 1rem;
	text-align: center;
	width: auto;
	font-size: $default-font-size-smaller;
	font-weight: $default-font-weight-600;
	cursor: pointer;
}
