@import "../../styles/variables";

.post {
	max-width: 40rem;
	background-color: $color-white;
	border: 1px solid $color-grey;
	margin-bottom: 4.5rem;

	&__avatar {
		margin-right: 1rem;
	}

	&__header {
		display: flex;
		align-items: center;
		padding: 2rem 1rem;
	}

	&__image {
		object-fit: contain;
		border-top: 1px solid $color-grey;
		border-bottom: 1px solid $color-grey;
	}

	&__text {
		padding: 2rem;
	}
}
